{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mt-3">Active Listings</h2>
        {% for listing in listings %}
            <div class="card m-3 " id="card-listings">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if listing.image %}
                            <img src="{{ listing.image }}" class="card-img img-fluid" alt="{{ listing.title }}">
                        {% else %}
                            <img src="https://t3.ftcdn.net/jpg/02/68/55/60/240_F_268556012_c1WBaKFN5rjRxR2eyV33znK4qnYeKZjm.jpg" class="card-img img-fluid" alt="Placeholder">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text d-none d-md-block mb-3">{{ listing.description }}</p>
                            <p class="card-text mb-3">Current price: ${{ listing.price }}</p>
                            <a href="{% url 'listing' listing.id %}">
                                <button class="btn btn-outline-success">View Listing</button>
                            </a>
                            <p class="card-text"><small class="text-muted">{{ listing.date }}</small></p>
                        </div>
                    </div>
                </div>
                <div class="row d-md-none">
                    <div class="col-md-12">
                        <p class="card-text mb-3 ml-3 mr-3">{{ listing.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
