{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    {% if listings %}
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if listing.image %}
                            <img src="{{ listing.image }}" class="card-img" alt="{{ listing.title }}">
                        {% else %}
                            <img src="https://t3.ftcdn.net/jpg/02/68/55/60/240_F_268556012_c1WBaKFN5rjRxR2eyV33znK4qnYeKZjm.jpg" class="card-img img-fluid" alt="Placeholder">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <p class="card-text">Current Price: ${{ listing.price }}</p>
                            <a href="{% url 'listing' listing.id %}" class="btn btn-outline-success">View Listing</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Your watchlist is empty.</p>
    {% endif %}
{% endblock %}
